body {
    display: flex;
    justify-content: center;
}
.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectEnable { 
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.field {
    width: 800px;
    height: 500px;
    position: absolute;
    background: aqua;
    border: 5px solid blue;
    cursor: none;

}

.gun {
    width: 140px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0px;
}

.bullet {
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: red;
    /* top: 355px;
    left: 670px; */
    top: 255px;
    left: 398px;
    display: none;
}

.bullet.shot {
    animation: shot 0.1s;
    display: block;
}

@keyframes shot {
    0% {
        
    }
    100% {
        /* top: 255px;
        left: 398px; */
        top: 355px;
        left: 670px;
    }
}

.cursor {
  position:absolute;
  height:30px;
  width:30px;
  left: 385px;
  top: 242.5px;
  /* top: 185px; */
  pointer-events: none;
}
.left-wall {
    width: 100px;
    height: 400px;
    left: 0;
    position: absolute;
    background-color: rgb(97, 50, 24);
}
.right-wall {
    width: 100px;
    height: 400px;
    position: absolute;
    right: 0;
    background-color: rgb(97, 50, 24);
}
.ground {
    width: 800px;
    height: 100px;
    position: absolute;
    background-color: rgb(212, 170, 63);
    bottom:0;
}

.ceiling {
    width: 800px;
    height: 20px;
    position: absolute;
    background-color: rgb(212, 170, 63);
}
.object {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    top: 100px;
    left: 250px;
    animation: fly 5s infinite;
}
.object.killed {
    background-color: red;
}


